<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `speed.jpg` | relURL }}" width="150" height="150" />
        <h2 class="h2">Blazingly Efficient</h2>
        <p>Quickly test/validate new ventures with an AI system that understands the space</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `lift.jpg` | relURL }}" width="150" height="150" />
        <h2 class="h2">Powerful Analytics</h2>
        <p>Get comprehensive insights and data viz to identify patterns within large volumes of information</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `suit.jpg` | relURL }}" width="150" height="150" />
        <h2 class="h2">Professional</h2>
        <p>Develop understanding of business methodology and processes with the help of AI-generated strategies</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Comprehensive</h2>
        <p>Identify promising investment opportunities and mitigate risks effectively, even in emerging sectors</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Secure</h2>
        <p>Your data, activity, and ideas are secured by default. You get to choose exactly what you share with others.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Collaborative</h2>
        <p>Connect with others interested in the same topics as you, and share your work in a team environment</p>
    </div>
</div>
